<div id="site-banner" class="site-banner enable-slider">
  <div class="site-banner-inner">
      <article data-id="post-{{ loop.index }}" class="post-{{ loop.index }} post type-post status-publish format-standard has-post-thumbnail hentry tag-no-excerpt is-featured" itemscope itemprop="blogPost" itemtype="http://schema.org/BlogPosting">
            <div class="site-banner-media">
                <figure class="site-banner-thumbnail" title="{{ page.title }}" itemprop="image">
                  {{ page.media[page.header.banner] }}
                </figure>
              </div>
            {% if page.header.banner_title %}
              <div class="site-banner-header">
                <h1 class="entry-title" itemprop="name">
                  <a href="{{ slide.url }}" class="highlight" rel="bookmark">{{ page.header.banner_title }}</a>
                </h1>
              </div>
            {% endif %}
      </article>
  </div>
</div>
